@model ee.itcollege.mrajam.BLL.App.DTO.PizzaOrder

<h4>PizzaOrder</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PizzaName)
    </dt>
    @*<dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PizzaName.ChangedBy)
    </dd>*@
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PizzaSize)
    </dt>
    @*<dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PizzaSize.ChangedBy)
    </dd>*@
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PizzaType)
    </dt>
    @*<dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PizzaType.ChangedBy)
    </dd>*@
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Price)
    </dd>
    @*<dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedBy)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CreatedBy)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedAt)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CreatedAt)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ChangedBy)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ChangedBy)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ChangedAt)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ChangedAt)
    </dd>*@
</dl>