@model IEnumerable<ee.itcollege.mrajam.BLL.App.DTO.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUserOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumWithoutVAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumWithVAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.CreatedBy) *@
            @* </th> *@
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.CreatedAt) *@
            @* </th> *@
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.ChangedBy) *@
            @* </th> *@
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.ChangedAt) *@
            @* </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUserOrder!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumWithoutVAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumWithVAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.CreatedBy) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.CreatedAt) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.ChangedBy) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.ChangedAt) *@
            @* </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
